.sidebar
  &__card
    background-color: $white
    max-width: 350px
    margin-bottom: 30px
.card-menu
  &__list
    list-style: none
    padding: 20px 0px
  &__item
    padding: 15px 0px 15px 30px
    &:hover
      background-color: $active
      cursor: pointer
    &:hover .card-menu__link
      color: $white
  &__link
    text-decoration: none
    color: $text
    font-size: 16px
.offer
  color: #3d3d3d
  &__description
    padding: 0px 53px 30px 30px
  &__title
    font-size: 18px
    font-weight: 400
  &__text
    display: block
    font-size: 14px
    margin-bottom: 26px
  &__link
    color: $active
